body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.carousel-images {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 10s;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.menu-hamburger {
    position: relative;
    z-index: 1;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    user-select: none; /* Evita a seleção do texto */
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul {
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #444;
}

.menu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.menu li {
    display: block;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #444;
}

#menu-toggle:checked + .menu-icon + .menu {
    display: block;
}
